services:
  app:
    build: .
    container_name: php_app
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: mouad
      POSTGRES_PASSWORD: mouad1411
      POSTGRES_DB: debri_db
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: mouadalli311@gmail.com
      PGADMIN_DEFAULT_PASSWORD: mouad1411
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - db

  composer:
    image: composer:2
    container_name: composer_container
    volumes:
      - ./src:/app
    working_dir: /app
    depends_on:
      - app

volumes:
  db_data:
  pgadmin_data:
